<widget xmlns="http://www.w3.org/ns/widgets" version="1.0">
  <name>Open Attribute</name>
  <description>Access attribution info for licensed materials in any web page</description>
  <author href="http://openattribute.com" email="patrick.lockley@googlemail.com">Open Attribute</author>
  <icon src="icons/icon64.png" />
  <license href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, Version 2.0</license>
  <preference name="firstrun_show" value="yes" />
  <preference name="badge_show" value="no" />
</widget>