<widget xmlns="http://www.w3.org/ns/widgets" network="public private" version="0.2">
  <name xml:lang="en-us">Open Attribute for Opera</name>
  <description xml:lang="en-us">Access attribution info for licensed materials in any web page - see http://openattribute.com</description>
  <author href="http://openattribute.com" email="patrick.lockley@googlemail.com">Open Attribute</author>
  <icon src="icons/icon64.png" />
  <license href="http://www.gnu.org/licenses/gpl.html">Distributed under the GPL Software License.</license>
  <preference name="firstrun_show" value="yes" />
  <preference name="badge_show" value="no" />
</widget>